<app-card variante="secondary" class="form-busca">
    <form [formGroup]="formBuscaService.formBusca" (ngSubmit)="buscar()">
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipo de passagem">
                <mat-button-toggle [value]="false">
                    <mat-icon *ngIf="!formBuscaService.formBusca.get('somenteIda')?.value"></mat-icon>
                    Ida e Volta
                </mat-button-toggle>
                <mat-button-toggle [value]="true">
                    <mat-icon *ngIf="formBuscaService.formBusca.get('somenteIda')?.value">check</mat-icon>
                    Somente Ida
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip (click)="formBuscaService.openDialog()">
                <div class="inner">
                    <mat-icon>check</mat-icon> {{ formBuscaService.getDescricaoPassageiro() }}
                </div>
            </mat-chip>
            <mat-chip (click)="formBuscaService.openDialog()">
                <div class="inner">
                    <mat-icon>check</mat-icon> {{ formBuscaService.getDescricaoPassageiro() }}
                </div>
            </mat-chip>
        </div>

        <div class="flex-container">
            <div class="drop-container"><app-dropdown-uf label="Origem" iconPrefixo="flight_takeoff"
                    placeholder="Origem" [control]="formBuscaService.obterControle('origem')" />
            </div>
            <button mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
            <div class="drop-container">
                <app-dropdown-uf label="Destino" iconPrefixo="flight_land" placeholder="Destino"
                    [control]="formBuscaService.obterControle('destino')" />
            </div>

            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Data da ida</mat-label>
                <input matInput [matDatepicker]="ida" />
                <mat-datepicker-toggle matIconSuffix [for]="ida"></mat-datepicker-toggle>
                <mat-datepicker #ida></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Data da volta</mat-label>
                <input matInput [matDatepicker]="volta" />
                <mat-datepicker-toggle matIconSuffix [for]="volta"></mat-datepicker-toggle>
                <mat-datepicker #volta></mat-datepicker>
            </mat-form-field>

            <button mat-flat-button color="primary">Buscar</button>

        </div>
    </form>
</app-card>