.card-busca {
  max-width: 320px;
  width: 100%;  // Garante que o item ocupe a largura disponível do contêiner flex
  background-color: #FEF7FF;
  border-radius: 12px;
  box-sizing: border-box;  // Garante que padding e border não extrapolem a largura do elemento

  button {
    width: 100%;
    margin: 0 16px 48px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 12px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #1D1B20;
      text-align: center;
    }
  }
}
